<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceE_Commerce" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServer/ServiceE_Commerce/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceE_Commerce"
                contract="E_CommerceServiceReference.IServiceE_Commerce" name="BasicHttpBinding_IServiceE_Commerce" />
        </client>
    </system.serviceModel>
</configuration>